/*=======================
        GLOBALS
=======================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0 auto;
  background: #edeff0;
}

p {
  line-height: 1.5em;
}

.wrapper {
  margin: 0 auto;
}

/*=======================
        FLEXBOX
=======================*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  padding: 1em;

}

/*=======================
        VIDEO
=======================*/

.mejs__player,
.mejs__controls {
  border-radius: 4px;
}

.mejs__player .mejs__controls:not([style*="display: none"]) {
    background: rgba(25, 50, 25, 0.8);
}

/*=======================
        HIGHLIGHT
=======================*/

.highlight {
  color: #e89900;
  font-weight: bold;
}

/*=======================
      MEDIA QUERY
=======================*/

@media screen and (min-width: 768px) {

  .wrapper {
    max-width: 768px;
  }

  .container {
    margin: 10px 2.5%;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #999;
  }

}
